<%= render 'header' %>

<div class="container">

<div class="sidebar">
  <%= image_tag 'brunetteava.jpg', class: "avatar" %>
  <h1><%= @user.username %></h1>
  <div class="stats">
    <ul>
      <li>1,256 pts</li>
      <li>Lvl 10</li>
    </ul>
  </div>
  <ul>
    <li>Profile</li>
    <li>Badges</li>
    <li>Leaderboard</li>
  </ul>
</div>

</div>
