<%= render 'header' %>
<div class="container">
<div class="billboard">
  <%= image_tag 'aslogo.png' %>
  <h1>AccompliShit</h1>
  <p>Get shit done. Compete with your friends.<br /> AccompliShit is here to help you.</p>
  <%= link_to '<i class="fa fa-arrow-circle-right"></i> Start Doing Shit'.html_safe, new_user_registration_path %>
  <div class="clear"></div>
</div>
<div class="deets">
  <div>
    <i class="fa fa-calendar"></i>
    <h2>Your to-do list just got a lot more exciting</h2>
    <p>Get rewarded for the shit you do. For each thing you accomplish, you win points, because you deserve it.</p>
  </div>
  <div>
    <i class="fa fa-list-ol"></i>
    <h2>Get credit for the little things, even as an adult</h2>
    <p>If you gain enough points, you level up. Check out the leaderboard to see who's butt you're kicking.</p>
  </div>
  <div>
    <i class="fa fa-star-half-o"></i>
    <h2>Badges aren't just for girl scouts</h2>
    <p>You get a badge for every level, and a badge for your major accomplishments. So get out there and AccompliShit!</p>
  </div>
</div>
</div>
