$light-green: rgb(132, 255, 98);
$purple: rgb(102, 0, 255);
$yellow: rgb(255, 255, 51);

$max_width: 960px;
$gutter_width: 35px;
$col_count: 6;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;

$col_width: ($max_width - $total_gutter_width) / $col_count;

@mixin columnify($num_cols) {
    width: $col_width * $num_cols + $gutter_width * ($num_cols - 1);
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}

.billboard {
  margin: 0px auto;
  background: url('background.jpg');
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-bottom: 2px solid $purple;
  img {
    float: left;
    margin: 20px 40px;
  }
  h1 {
    margin: 0px;
    color: $light-green;
    font-family: 'Lily Script One', cursive;
    font-size: 45pt;
    padding-top: 50px;
    background: rgba(0,0,0,0.6);
  }
  p {
    // color: white;
    color: black;
    font-weight: bolder;
    font-size: 18pt;
    // background: rgba(0,0,0,0.6);
  }
  a {
    float: right;
    margin: 30px 50px;
    padding: 5px 15px;
    font-size: 24pt;
    background: black;
    border-radius: 10px;
  }
  .clear {
    content: "";
    height: 1px;
    clear: both;
  }
}

.deets {
  margin-top: 40px;
  div {
    @include columnify(2);
    float: left;
    color: black;
    text-align: center;
    margin-right: 35px;
    &:nth-of-type(3n) {
      margin-right: 0px;
    }
    i {
      font-size: 45pt;
    }
  }
}


