 // Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$light-green: rgb(132, 255, 98);
$purple: rgb(102, 0, 255);
$yellow: rgb(255, 255, 51);

.header {
  background: rgba(0,0,0,0.6);
  border-bottom: 2px solid black;
  margin-top: 0px;
  color: white;
  .title {
    font-family: 'Lily Script One', cursive;
    color: $light-green;
    font-size: 16pt;
    h1 {
      margin: 0px;
      text-transform: none;
    }
  }
  ul {
    margin: 0px;
    li {
      display: inline-block;
      font-size: 16pt;
      padding: 0px 35px 0px 0px;
      text-transform: uppercase;
    }
  }
}

.navlogo {
  height: 50px;
  padding-top: 5px;
  margin-bottom: 0px;
}


.sign {
  background: rgba(0,0,0,0.5);
  width: 500px;
  margin: 0px auto;
  margin-top: 0px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid black;
  text-align: center;
  padding-bottom: 50px;
  .signlogo {
    margin-top: 0px;
    background: rgba(0,0,0,0.4);
    font-size: 24pt;
    text-align: center;
    text-transform: uppercase;
    img {
      width: 150px;
      padding-top: 10px;
    }
    h1 {
      font-family: 'Lily Script One', cursive;
      color: $light-green;
      font-size: 16pt;
      text-transform: none;
      margin: 0px;
      font-size: 32pt;
      line-height: 18px;
      padding-bottom: 30px;
    }
    h2 {
      font-size: 12pt;
      color: white;
    }
    h3 {
      font-size: 11pt;
      text-transform: none;
      color: $yellow;
      padding: 20px;
      padding-top: 0px;
      margin: 0px;
    }
  }
  h2 {
    color: $purple;
    text-transform: uppercase;
  }
  form {
    color: gray;
    width: 300px;
    margin: 0px auto;
    text-align: left;
    input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
      background-color: transparent;
      border: none;
      font-size: 14pt;
      color: white;
      list-style-type: none;
      width: 100%;
      outline-width: 0;
      border-bottom: 2px solid gray;
      height: 40px;
    }
    input[type="checkbox"] {
      background: black;
    }
    label {
      font-size: 11pt;
      padding-bottom: 15px;
    }
    input[type="submit"] {
      float: right;
      background-color: black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius:10px;
      border: 2px solid black;
      display: inline-block;
      color: white;
      font-size: 16px;
      font-weight:bold;
      margin: 0px;
      padding: 10px 30px;
      text-decoration:none;
      text-transform: uppercase;
      text-shadow:0px 0px 0px #70706f;
      font-family: 'Varela Round', sans-serif;
      &:hover {
        background: $purple;
      }
    }
  }
  .links {
    width: 300px;
    padding-top: 12px;
    margin: 0px auto;
    text-align: left;
    font-size: 10pt;
    color: white;
  }
}

.remember {
  text-align: right;
  color: white;
}

body {
  margin: 0px;
  height: 100%;
  background: url('stardust.png');
  font-family: 'Varela Round', sans-serif;
}

a {
  color: white;
  &:hover {
    color: gray;
  }
  &:visited {
    color: white;
      &:hover {
    color: gray;
      }
  }
}

.clearhead {
  content: "";
  height: 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}


.sidebar {
  background: rgba(0,0,0,0.4);
  width: 200px;
  float: left;
  color: white;
  margin: 0px 15px 0px 0px;
  text-align: center;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.2);
  .avatar {
    width: 150px;
    border-radius: 75px;
    margin: 25px auto 0px auto;
    border: 2px solid gray;
  }
  .stats {
    background: rgba(255, 255, 255, 0.5);
    font-size: 18pt;
    color: black;
    ul {
      padding: 15px 35px;
      li {
      list-style-type: none;
      text-align: left;
      }
    }
  }
  ul {
    margin-left: 0px;
    padding-left: 0px;
    li {
      list-style-type: none;
    }
  }
}

.clear {
  content: "";
  height: 20px;
}

.list {
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  position: relative;
  width: 357.5px;
  margin-bottom: 15px;
  border-radius: 0px 0px 10px 10px;
  h2 {
    background: black;
    padding: 10px;
    margin: 0px;
    color: white;
    font-size: 18pt;
  }
  ul {
    padding: 0px 10px;
    .content {
      font-size: 12pt;
      line-height: 35px;
      list-style-type: none;
      border-bottom: 2px solid black;
      position: relative;
      cursor: hand;
      span {
        padding-left: 20px;
      }
      &:hover {
        color: white;
        cursor: pointer;
        &:before {
          content: "✓";
          float: left;
          position: absolute;

        }
      }
    }
    .field {
      input {
        background-color: transparent;
        border: none;
        font-size: 12pt;
        list-style-type: none;
        width: 100%;
        outline-width: 0;
      }
      &:hover {
        color: black;
        &:before {
          content: "";
        }
      }
    }
  }
}

.del {
  float: right;
  color: rgba(255, 0, 0, 0.5);
  text-decoration: none;
  padding-right: 10px;
  &:hover {
    color: red;
  }
}

i {
  color: rgb(132, 255, 98);
}

.done {
  text-decoration: line-through;
}

#columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 15px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 15px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 15px;
  column-fill: auto;
  width: 730px;
  margin: auto 15px;
}
