    // Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$light-green: rgb(132, 255, 98);
$purple: rgb(102, 0, 255);
$yellow: rgb(255, 255, 51);

// HEADER

.header {
  background: rgba(0,0,0,0.3);
  border-bottom: 2px solid black;
  margin-top: 0px;
  color: white;
  position: relative;
  .title {
    font-family: 'Lily Script One', cursive;
    color: $light-green;
    font-size: 16pt;
    h1 {
      margin: 0px;
      text-transform: none;
    }
  }
  ul {
    margin: 0px;
    li {
      display: inline-block;
      text-decoration: none;
    }
  }
  .linkz {
    margin: 0px;
    position: absolute;
    top: 0;
    padding-top: 25px;
    li {
      display: inline-block;
      font-size: 16pt;
      padding: 0px 35px 0px 0px;
      text-transform: uppercase;
    }
  }
}


.navlogo {
  height: 50px;
  padding-top: 5px;
  margin-bottom: 0px;
}


.current_user_stats {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  .navava {
      height: 50px;
      border-radius: 25px;
      border: 1px solid white;
  }
  ul {
    padding-top: 15px;
    padding-left: 15px;
    li {
      font-size: 14pt;
      text-transform: none;
      padding-right: 15px;
      &.un {
        color: $light-green;
      }
      i {
        color: $purple;
      }
    }
  }
}

.current_user_stats ul, .navava {
  float: right;
}



// SIGN IN ____________________________________________________

.sign {
  // background: rgba(0,0,0,0.5);
  width: 500px;
  margin: 0px auto;
  margin-top: 0px;
  // border-radius: 0px 0px 10px 10px;
  // border: 2px solid black;
  text-align: center;
  padding-bottom: 50px;
  .signlogo {
    margin-top: 0px;
    // background: rgba(0,0,0,0.4);
    font-size: 24pt;
    text-align: center;
    text-transform: uppercase;
    img {
      width: 150px;
      padding-top: 10px;
    }
    h1 {
      font-family: 'Lily Script One', cursive;
      color: $light-green;
      font-size: 16pt;
      text-transform: none;
      margin: 0px;
      font-size: 32pt;
      line-height: 18px;
      padding-bottom: 30px;
    }
    h2 {
      font-size: 12pt;
      color: white;
    }
    h3 {
      font-size: 11pt;
      text-transform: none;
      // color: $yellow;
      color: $light-green;
      padding: 20px;
      padding-top: 8px;
      margin: 0px;
    }
  }
  h2 {
    // color: $purple;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  form {
    color: black;
    width: 300px;
    margin: 0px auto;
    text-align: left;
    input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
      background-color: transparent;
      border: none;
      font-size: 14pt;
      color: white;
      list-style-type: none;
      width: 100%;
      outline-width: 0;
      border-bottom: 2px solid black;
      height: 40px;
    }
    input[type="checkbox"] {
      background: black;
    }
    label {
      font-size: 11pt;
      padding-bottom: 15px;
    }
    input[type="submit"] {
      float: right;
      background-color: gray;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius:10px;
      border: 2px solid white;
      display: inline-block;
      color: white;
      font-size: 16px;
      font-weight:bold;
      margin: 0px;
      padding: 10px 30px;
      text-decoration:none;
      text-transform: uppercase;
      text-shadow:0px 0px 0px #70706f;
      font-family: 'Varela Round', sans-serif;
      &:hover {
        background: $purple;
      }
    }
  }
  .links {
    width: 300px;
    padding-top: 12px;
    margin: 0px auto;
    text-align: left;
    font-size: 10pt;
    color: white;
  }
}

.remember {
  text-align: right;
  color: black;
}


// ALL BODY

body {
  margin: 0px;
  height: 100%;
  background: url('stardust.png');
  font-family: 'Varela Round', sans-serif;
}

a {
  color: white;
  &:hover {
    color: gray;
  }
  &:visited {
    color: white;
      &:hover {
    color: gray;
      }
  }
}

.clearhead {
  content: "";
  height: 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

.containersmall {
  max-width: 750px;
  margin: 0 auto;
  height: 100%;
}


// LANDING PAGE

@mixin fontsizefix() {
      &.biggest {
        font-size: 80pt;
      }
      &.bigger {
        font-size: 75pt;
      }
      &.big {
        font-size: 65pt;
      }
      &.medium {
        font-size: 50pt;
      }
      &.small {
        font-size: 40pt;
      }
}

.empty {
  content: "";
  height: 225px;
  .doit {
    display: none;
    text-align: center;
    padding-top: 110px;
    h2 {
      font-size: 18pt;
      color: $light-green;
    }
    i {
      font-size: 30pt;
    }
    &.showit {
      display: block;
    }
  }
}

.bam {
  text-decoration: line-through;
}


.jSlots-wrapper {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    overflow: hidden; /* to hide the magic */
    height: 150px; /* whatever the height of your list items are */
    display: inline-block; /* to size width correctly, can use float too, or width*/
    border-bottom: 2px solid white;
    .slot {
      color: white;
      position: absolute;
      padding: 0px;
      margin: 0px;
      list-style-type: none;
    li {
      text-align: center;
      width: 960px;
      height: 150px;
      white-space: nowrap;
      position: relative;
      bottom: 0;
      @include fontsizefix;
    }
  }
}



.meep {
  text-align: center;
  input[type="button"] {
    background-color: black;
    border-radius:10px;
    border: 2px solid black;
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight:bold;
    margin: 30px 0px;
    padding: 10px 30px;
    text-decoration:none;
    text-transform: uppercase;
    &:hover {
      background: $purple;
    }
  }
}

.add {
  background: black;
  color: white;
  margin: 15px auto;
  text-align: center;
  width: 250px;
  border-radius: 10px;
  padding: 5px;
  i {
    color: white;
  }
}

.listview {
  text-align: center;
  li {
    @include fontsizefix;
    list-style-type: none;
    &:hover {
      text-decoration: line-through;
    }
  }
}

// PROFILE


.pgcontent {
  width: 535px;
  margin: 0;
  padding: 15px 0;
  float: right;
  text-align: center;
  color: black;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  h1 {
    font-family: 'Geostar Fill', cursive;
    color: $light-green;
  }
  p {
    color: white;
  }
.proglabel {
  width: 470px;
  text-align: right;
  margin: 0 auto;
  padding: 0 15px;
  .l {
    float: left;
  }
}
.progresswrap {
  margin: 0 auto;
  width: 500px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  .progress {
    background: $light-green;
    height: 30px;
    // border-radius: 15px 0px 0px 15px;
  }
}
}

// OLD DASHBOARD

.sidebar {
  background: rgba(0,0,0,0.4);
  width: 200px;
  float: left;
  color: white;
  margin: 0px 15px 0px 0px;
  text-align: center;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.2);
  .avatar {
    width: 150px;
    border-radius: 75px;
    margin: 25px auto 0px auto;
    border: 2px solid gray;
  }
  .stats {
    background: rgba(255, 255, 255, 0.5);
    font-size: 18pt;
    color: black;
    ul {
      padding: 15px 35px;
      li {
      list-style-type: none;
      text-align: left;
      }
    }
  }
  ul {
    margin-left: 0px;
    padding-left: 0px;
    li {
      list-style-type: none;
    }
  }
}

.clear {
  content: "";
  height: 20px;
}

.list {
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  position: relative;
  width: 357.5px;
  margin-bottom: 15px;
  border-radius: 0px 0px 10px 10px;
  h2 {
    background: black;
    padding: 10px;
    margin: 0px;
    color: white;
    font-size: 18pt;
  }
  ul {
    padding: 0px 10px;
    .content {
      font-size: 12pt;
      line-height: 35px;
      list-style-type: none;
      border-bottom: 2px solid black;
      position: relative;
      cursor: hand;
      span {
        padding-left: 20px;
      }
      &:hover {
        color: white;
        cursor: pointer;
        &:before {
          content: "✓";
          float: left;
          position: absolute;

        }
      }
    }
    .field {
      input {
        background-color: transparent;
        border: none;
        font-size: 12pt;
        list-style-type: none;
        width: 100%;
        outline-width: 0;
      }
      &:hover {
        color: black;
        &:before {
          content: "";
        }
      }
    }
  }
}

.del {
  float: right;
  color: rgba(255, 0, 0, 0.5);
  text-decoration: none;
  padding-right: 10px;
  &:hover {
    color: red;
  }
}

i {
  color: rgb(132, 255, 98);
}

.done {
  text-decoration: line-through;
}

#columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 15px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 15px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 15px;
  column-fill: auto;
  width: 730px;
  margin: auto 15px;
}



